#navbar{
    display: flex;
    gap: 20px;
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0px;
    left: 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#log{
 margin-top: 18px;
 margin-left: 60px;
}
#img>img{
    width: 100px;
    /* margin-top: 10px;
    margin-left: 10px; */
    padding: 15px;
}
#menu{
    display: flex;
    gap: 20px;
}
#fundraiser{
   display: flex;
   justify-content: space-evenly;
   
   margin-left: 100px;
   gap: 20px;
   
}
#main{
    background-color:#9c3353 ;
    border-radius: 30px;
    width: 95px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    
    margin-top: 22px;
}
#ind{
    color: white;
    margin-top: 2px;
    margin-left: 22px;
}
#usd{
    color: white;
    margin-top: 2px;
    margin-left: 50px;
    
}
#left{
    background-color: white;
    border-radius: 50%;
    position: absolute;
    margin-top: -3px;
    width: 35px;
    
    height: 35px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#left:hover{
    cursor: pointer;
}
#right:hover{
    cursor: pointer;
}
#right{
    background-color: white;
    border-radius: 50%;
    position: absolute;
    margin-top: -3px;
    width: 35px;
    margin-left: 60px;
    height: 35px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#fundraiser>h2{
    padding: 10px 40px 10px 40px;
    background-color: #9c3353;
    color: white;
    margin-top: 10px;
    margin-bottom: 13px;
    border-radius: 30px;
    
}
#fundraiser>h2:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.chalidManu{
 padding: 5px 13px 8px 13px;
 
 
}
#fundraiser:hover{
    
}
.chalidManu:hover{
   
    background-color: rgb(243, 242, 241);
}
